<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayPal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container" id="app">
        <div class="left-panel">
            <img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_111x69.jpg" alt="PayPal Logo" class="logo" id="logoImg">
        </div>
        <div class="right-panel">
            <div class="login-box">
                <h1>Log in to your PayPal account</h1>
                <form action="#">
                    <input type="email" placeholder="Email" required v-model="username">
                    <input type="password" placeholder="Password" required  v-model="password">
                    <button type="submit" @click.prevent="login">Log In</button>
                    <a href="#" class="forgot-password">Having trouble logging in?</a>
                </form>
                <hr>
                <p>New to PayPal? <a href="#">Sign up</a></p>
            </div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            let app = Vue.createApp({
            data() {
                return {
                    username: '',
                    password: ''
                }
            },
            methods: {
                async login() {
                    const response = await fetch(`http://127.0.0.1:5000/login/${this.username}:${this.password}`)
                    const tempData = await response.json()
                    this.data = tempData.processedData
                    console.log(this.data)
                    }
                }
            })

            app.mount('#app')
        </script>
    </div>
</body>
</html>
